*{
    margin: 0;
    font-family: Arial;
    border: border-box;
    color: white;
}

.nav-bar{
    background-color: #0f1111;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} 

.nav-logo{
    height: 50px;
    width: 100px;
    padding: 1px 8px 0px 6px;
    margin: 1px 1px 1px 1px;
}

.logo{
    height: 50px;
    width: 100px;
    background-image: url(amazon_logo.png);
    background-size: cover;
}

.location{
    height: 22px;
    width: 90px;
    display: flex;
    align-items: center;
}

.locationname{
    height: 52px;
    width: 90px;
    padding: 0px 2px 0px 2px;
    margin: 1px 2px 1px ;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{ 
    border: 1.5px solid white;
}

.deliverto{
    color:#cccccc;
    font-size: 0.85rem;
    margin-left: 13px;
    margin-top: 6px;
}
    
.india{
    font-size: 1rem;
    margin-left: 3px;
}

.nav-search{
    display: flex;
    height: 40px;
    width: 800px;
    align-items: center;
    /* background-color: pink;   */
}

.nav-search:hover{
    border: 2px solid orange;
}

.search-icon{
    display: flex;
    height: 40px;
    width: 48px;
    font-size: 1.4rem;
    /* color: #0f1111; given in style tag */
    background-color: #f08804;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.searchbox{
    height: 40px;
    width: 100%;
    color: #0f1111;
    border: none;
    padding: 0px 15px 0px 15px;
    font-size: 1rem;
 
}
.category{
    height: 40px;
    width: 48px;
    color: black;
    background-color: #f3f3f3;
    border: none;
    border-right: 0.5px solid gray;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 0.8rem;
}

.nav-sign-in{
    width: 150px;
    height: 50px;
    padding: 2px 6px 2px 6px;
    border: 0px 1px 0px 1px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

  span{
    font-size: 0.75rem;
    font-weight: 500;
}

  .nav-account{
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-order{
    font-size: 0.85rem;
    font-weight: 700;
}
  
.nav-cart i {
    font-size: 25px;
}
  
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
    height: 50px;
    display: flex;
    align-items: center;
}

.Returns{
    width: 70px;
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    height: 50px;
}

.main-pannel{
    width: 100%;
    height: 40px;
    background-color: #232f3e;
}

.pannel{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    margin-left: 11px;

}

a{
    margin: 0px 6px;
    padding: 6px; 
    text-decoration: none;
}

.pannel-options{
    height: 37px;   
    border: none; 
    display: flex;   
    align-items: center;
    font-weight: 500;
    font-size: 0.9rem;
}
/* hero-section */

.hero-section{
    height: 600px;
    background-image: url(hero-image.jpg);
    background-size: cover;
}

.hero-text{
    background-color: white;
    position: relative;
    top: 280px;
    left: 20px;
    z-index: 2;
    color: black;
    width: 97vw;
    height: 20px;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 550;
}

.all-things{
    background-color: rgba(236, 193, 200, 0.5);
    position: relative;
    top: -280px;
    left: 20px;
    padding: 20px 0px;
    height: 1300px;
    width: 97vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #0f1111;
}

.shop{
    height: 30%;
    width: 22%;
    margin: 0px 10px;
    padding: 20px 10px 15px;
    background-color: white;
    color: #0f1111;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2{
color: #0f1111;
}

.box-image1{
    background-image: url(gaming.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80%;
    width: 100%;
}

.box-image2{
    background-image: url(fashion.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80%;
    width: 100%;
}

.box-image3{
    background-image: url(Gaming.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80%;
    width: 100%;
}

.box-image4{
    background-image: url(home-essentials.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80%;
    width: 100%;
}

.box-image5{
    background-image: url(home-arrivals.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80%;
    width: 100%;
}

.box-image6{
    background-image: url(appliances.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80%;
    width: 100%;
}

.box-image7{
    background-image: url(mothergift.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80%;
    width: 100%;
}
.box-image8{
    background-image: url(refresh.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80%;
    width: 100%;
}

.box-image9{
    background-image: url(toys.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80%;
    width: 100%;
}

.sign-in{
    height: 145px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    /* top: 200px; */
}

button{
    width: 190px;
    height: 30px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #ffd814;
    color: #0f1111;
    font-size: 13px;
    font-weight: 500;
}

.accessories{
    height: 270px;
    /* background-color: pink; */
    display: flex;
    position: relative;
    top: -230px;
}
.box{
    width: 20%;
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
}

.acc1{
background-image: url(stylus.jpg);
background-size: cover;
}


.acc2{
    background-image: url(glass.jpg);
    background-size: cover;
}

    
.acc3{
    background-image: url(charger.jpg);
    background-size: cover;
}

    
.acc4{
    background-image: url(iphone-charger.jpg);
    background-size: cover;
}
        

.acc5{
    background-image: url(label-maker.jpg);
    background-size: cover;
}
    
.end{
    background-color: #232f3e;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

footer{
    height: 600px;
    background-color: #131a22;
}

.footer-things{
    height: 292px;
    /* background-color: pink; */
    display: flex;
    justify-content: space-around;
}    

.bottom{
    padding-top: 40px;
    line-height: 40px;
}

.footer-logo{
    background-image: url(amazon_logo.png);
    width: 150px;
    height: 70px;
    /* background-color: #cccccc; */
    background-size: cover;
}

.footer-last{
    height: 70px;
    margin: 10px 110px;
    /* background-color: #f08804; */
    position: relative;
    top: 110px;
    display: flex;
    justify-content: center;
}

.footer-pannel4{
    height: 30px;
    position: relative;
    top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}